body{
	font-family: 'Droid Sans', sans-serif;
}

body{
	background: #3399ff
}


.navbar {
	 overflow: hidden;
    background-color: #000099;
    position: fixed; 
    top: 0; 
    width: 100%;
	text-align; center;
}

.navbar a {
    display: inline-block;
	float:center;
    color: #f2f2f2;
    text-align: center;
	padding: 8px 10px;
    text-decoration: none;

}

 div{
 display:inline-block;
 text-align:center;
 }
 


h1{
	text-align:center;
	font-size: 325%
}


h2{
	text-align:center;
	font-size:200%;
	text-decoration:underline;
}

p{
	text-align: center;
    margin-right: 125px;
    margin-left: 125px;
}

h3{
	text-align:center;
	font-size:100%;
}

form{text-align:center;}

a:hover { color: #00ff00 }

img {
    border-radius: 8px;
	max-width: 100%
}




#top, #bottom, #left, #right {
	background: #000099;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 14px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 14px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="jeremiahmrichardson"><a class="LI-simple-link" href='https://www.linkedin.com/in/jeremiahmrichardson?trk=profile-badge'>Jeremiah Richardson</a></div>
